/* Overall page layout */
.admin-home-container {
  padding: 20px;
  background-color: rgb(247, 255, 255);
  height: 100vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.page-title {
  text-align: center;
  font-size: 1.4rem;
  /* Increased size for emphasis */
  margin-bottom: 20px;
  color: #ffffff;
  /* White text color for contrast */
  background-color: #00796b;
  padding: 10px;
  border-radius: 4px;
  /* Rounded corners for a smoother look */
  font-family: 'Poppins', sans-serif;
  /* Modern sans-serif font */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  letter-spacing: 2px;
  /* Space between letters for a clean, modern look */
}

/* Table styling */
.acts-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.acts-table th,
.acts-table td {
  padding: 14px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.acts-table th {
  background-color: #4A90E2;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.acts-table td {
  background-color: #fff;
  font-size: 1rem;
}



/* View Details button */
.view-details-button {
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;

  display: inline-block;
}

.view-details-button:hover {
  background-color: #0056b3;

}

/* Responsive table styling for mobile */
@media (max-width: 768px) {
  .act-detail-page {
    padding: 20px;
  }

  .acts-table th,
  .acts-table td {
    padding: 10px;
  }

  .page-title {
    font-size: 1.8rem;
  }

  .view-details-button {
    padding: 6px 14px;
    font-size: 0.9rem;
  }
}

.view-details-button,
.view-questions-button {
  margin-right: 10px;
  /* Space between buttons */
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  /* Blue color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-details-button:hover,
.view-questions-button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}