.admin-home-container {
    padding: 20px;
 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin-home-title {
    text-align: center;
    font-size: 1.4rem;  /* Increased size for emphasis */
    margin-bottom: 20px;
    color: #ffffff;  /* White text color for contrast */
  background: linear-gradient(135deg, #3b82f6, #60a5fa); /* Blue gradient */
    padding: 10px;
    border-radius: 4px;  /* Rounded corners for a smoother look */
    font-family: 'Poppins', sans-serif;  /* Modern sans-serif font */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    letter-spacing: 2px;  /* Space between letters for a clean, modern look */
  }
  
  
  .stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  .stat-card {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
  }
  
  .stat-card h2 {
    font-size: 1rem;
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-top: 4px;
  }
  
  .stat-card p {
    font-size: 1.6rem;
    color: #2f2f2f;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    font-weight: 600;
  }
  .acts-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(135deg, #f9f9f9, #f7c8ff);
    padding: 20px;
  }
  
  .acts-card-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .acts-card-image {
    flex: 0 0 250px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .acts-card-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .acts-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .acts-card-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #333;
    font-family: "Poppins", "Lora", sans-serif;
  }
  
  .acts-card-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .acts-card-wrapper {
      flex-direction: column;
      text-align: center;
    }
  
    .acts-card-image {
      flex: none;
    }
  
    .acts-card-image img {
      width: 100%;
      height: auto;
    }
  
    .acts-card-content {
      margin-top: 10px;
    }
  }
  .acts-card-button {
    width: auto;
    min-width: 150px;
    align-self: flex-start; /* Ensures it doesn’t stretch */
  }
  