/* ChangePassword.css */

.change-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.change-password-title {
  text-align: center;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}


.change-password-email {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.ant-form-item-label > label {
  font-weight: 500;
  color: #444;
}

.ant-input-password {
  height: 40px;
  border-radius: 8px;
}

.ant-btn-primary {
  background-color: #1890ff;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.ant-btn-primary:hover {
  background-color: #0073e6;
}

.success-message-container {
  text-align: center;
}

.success-message-container .ant-btn-primary {
  margin-top: 10px;
  width: 100%;
}
.pass {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #a9a8e6, #083e9b);
  padding: 20px;
}
