/* Admin Page Styles */
.admin-container {
    margin: 20px;
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #0a91cb;
    font-size: 2rem;
    margin-bottom: 20px;
  }
 
  
  button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  
  button.activate {
    background-color: #28a745;
    color: white;
  }
  button.activate:hover {
    background-color: #0e9a2e;
    color: white;
  }
  
  button.deactivate {
    background-color: #851bdc;
    color: white;
  }
  button.deactivate:hover {
    background-color: #5d08a3;
    color: white;
  }
  
  button.block{
    background-color: #dc3545;
    color: white;
  }
  button.block:hover{
    background-color: #a91c2a;
    color: white;
  }
  button.unblock{
    background-color: #0a91cb;
    color: white;
  }
  button.unblock:hover{
    background-color: #086992;
    color: white;
  }
  
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    button {
      font-size: 0.9rem;
    }
  }
  .ant-modal-footer {
    display: flex !important;
    justify-content: flex-end;
  }
  
  .ant-btn {
    visibility: visible !important;
    opacity: 1 !important;
  }
  
  
  